input[type=text] {
    width: 150px;
    display: block;
    margin-bottom: 10px;
    background-color: #e1f3eb;
}

input[type=button] {
    display: block;
}
body { 
    background-image: url("http://thelaughingstork.com/wp-content/uploads/2012/11/woman-question-mark-300x285.jpg");
    background-repeat: no-repeat;
    background-position: right bottom;
  

   
}

#h{
    visibility: hidden;
}

#id{
    visibility: hidden;
}

button {
    width: 130px;
    height: 30px;
   background-color:#5c89bf;
   border-radius: 5px;
  
}

.text{
    margin-top: 30px;
}
.wrapper{
    text-align: center;
}

div{
    text-align: center;
}
#p1{
    text-align: center;
   color: #FFCDD3;
    text-shadow: 3px 3px 0px #2c2e38, 5px 5px 0px #5c5f72;
    font: 80px 'BazarMedium';
   
}



